* {
    margin: 0;
    padding: 0;
}

body {
     height: 100vh;
     width: 100vw;
     
}

#header {
    background-color: #000000;
    height: 70px;
    display: flex;
    align-items: center;
    width: 100vw;
}

#header #logo {
    color: white;
    font-size: 3rem;
    font-family: monospace;
    margin: 0.2rem;
    padding: 0.2rem;
}

#header .mBtn {
    color: grey;
    padding: 3rem;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    
}


#header a:hover {
    color: white;
}

#header #menu {
    justify-content: space-between;
    margin-left: 35rem;
    padding: 0.8rem;
}
.active {
    color: white;
    padding: 3rem;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
#getStr {
    background-color: white;
    color: black;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.8rem;
    border-radius: 0.7rem;
    margin-top: 1rem;
    text-decoration: none;
    border: 2px solid white;
}
#getStr:hover {
    color: white;
    background-color: black;
    border-color: white;
}
#title {
    text-align: center;
    
}
#bodySec {
    display: flex;
    width: 100vh;
}
#menuIcon {
    height: 30px;
    width: 30px;
}
#slideBar {
    background-color: #d2d2d2;
    width: 50px;
}
#bodyContent {
    width: 100vw;
    background-color: white;
    border: none;
    border-left: 0px solid black;
}
@media (max-width: 730px) {
    #header #logo {
        font-size: 1.3rem;  /* Smaller font size */
        margin: 0.2rem;
    }
    #title {
        font-size: 2rem;
    }
    
    #header .mBtn {
        padding: 1rem; /* Reduce padding */
        font-size: 0.5rem;
    }

    #header #menu {
        margin-left: 0.5rem; /* Reduce margin */
    }
    #getStr {
        font-size: 5px;
        padding: 0.3rem;
    }
    .active {
        padding: 1.5rem;
        font-size: 1rem;
    }
    
    #body {
        padding: 1rem;  /* Add padding to prevent content from touching edges */
    }

    #fGrid {
        flex-direction: column; /* Stack the items vertically */
        margin-top: 1rem;
    }

    #fGrid div {
        width: 90%;  /* Ensure divs don't overflow */
        margin-bottom: 1rem;
    }

    #unlimited, #media, #coding, #more {
        width: 90%;  /* Make the divs take up less space */
        height: 120px;  /* Adjust height */
        margin-left: 15px;  /* Remove left margin */
    }

    #footer {
        font-size: 0.9rem; /* Smaller font size for mobile */

    }
}

